.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}
.hotkeyarea {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.changworks {
  font-size: 50px;
  font-weight: bold;
}
p {
  font-size: 30px;
}
