.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  height: 100vh;
}

.changworks {
  font-size: 50px;
  font-weight: bold;
}
p {
  font-size: 30px;
}
